src/NativeTagRule.xsd

<!-- (C) 2020 - FreightTrust and Clearing Corporation
   - SPDX-License-Identifier: MPL-2.0
   - SPDXVersion: SPDX-2.2
   - SPDX-FileCopyrightText
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla.org/MPL/2.0/. -->
<xs:schema targetNamespace="http://www.freighttrust.com/Schemas/Native/2020/09" version="2.0" elementFormDefault="qualified" xmlns="http://www.freighttrust.com/Schemas/Native/2020/09" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="Native.xsd" />
  <xs:element name="TagRule" type="TagRuleData" />
  <xs:complexType name="TagRuleData">
    <xs:all>
      <xs:element name="TagRule" type="NativeTagRule" />
    </xs:all>
    <xs:attribute name="version" type="xs:token" />
  </xs:complexType>
  <xs:complexType name="NativeTagRule">
    <xs:all>
      <!-- Candidate Key: Name -->
      <xs:element name="PK" minOccurs="0" type="xs:string" />
      <xs:element name="Name" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="80" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="IsSystem" minOccurs="0" type="xs:boolean" />
      <xs:element name="IsActive" minOccurs="0" type="xs:boolean" />
      <xs:element name="ActionType" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="3" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="LastPerformanceVerificationDateTimeUtc" minOccurs="0" type="emptiableDateTime" />
      <xs:element name="RunAddQuerySingleThreaded" minOccurs="0" type="xs:boolean" />
      <xs:element name="RunRemoveQuerySingleThreaded" minOccurs="0" type="xs:boolean" />
      <xs:element name="RunMagnitudeQuerySingleThreaded" minOccurs="0" type="xs:boolean" />
      <xs:element name="Branch" minOccurs="0">
        <xs:complexType>
          <xs:all>
            <!-- Candidate Key: Code -->
            <xs:element name="Code" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="3" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="PK" minOccurs="0" type="xs:string" />
          </xs:all>
          <xs:attribute name="Action" type="Action" />
          <xs:attribute name="TableName" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="Department" minOccurs="0">
        <xs:complexType>
          <xs:all>
            <!-- Candidate Key: Code -->
            <xs:element name="Code" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="3" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="PK" minOccurs="0" type="xs:string" />
          </xs:all>
          <xs:attribute name="Action" type="Action" />
          <xs:attribute name="TableName" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="TagLinkCollection" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TagLink" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:all>
                  <xs:element name="PK" minOccurs="0" type="xs:string" />
                  <xs:element name="Description" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="80" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="Magnitude" minOccurs="0" type="xs:decimal" />
                  <xs:element name="Sequence" minOccurs="0" type="xs:int" />
                  <xs:element name="RemovedTimeUtc" minOccurs="0" type="emptiableDateTime" />
                  <xs:element name="ParentTableCode" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="3" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="SystemCreateTimeUtc" minOccurs="0" type="emptiableDateTime" />
                  <xs:element name="TagMagnitude" minOccurs="0">
                    <xs:complexType>
                      <xs:all>
                        <!-- Candidate Key: Code + TagDefinition.PK -->
                        <xs:element name="Code" minOccurs="0">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:maxLength value="3" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                        <xs:element name="PK" minOccurs="0" type="xs:string" />
                        <xs:element name="Tag" minOccurs="0">
                          <xs:complexType>
                            <xs:all>
                              <!-- Candidate Key: Code -->
                              <xs:element name="Code" minOccurs="0">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:maxLength value="3" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:element>
                              <xs:element name="PK" minOccurs="0" type="xs:string" />
                            </xs:all>
                            <xs:attribute name="Action" type="Action" />
                            <xs:attribute name="TableName" type="xs:string" />
                          </xs:complexType>
                        </xs:element>
                      </xs:all>
                      <xs:attribute name="Action" type="Action" />
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="RemovedBy" minOccurs="0">
                    <xs:complexType>
                      <xs:all>
                        <!-- Candidate Key: Code + LoginName -->
                        <xs:element name="Code" minOccurs="0">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:maxLength value="3" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                        <xs:element name="LoginName" minOccurs="0">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:maxLength value="104" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                        <xs:element name="PK" minOccurs="0" type="xs:string" />
                      </xs:all>
                      <xs:attribute name="Action" type="Action" />
                      <xs:attribute name="TableName" type="xs:string" />
                    </xs:complexType>
                  </xs:element>
                </xs:all>
                <xs:attribute name="Action" type="Action" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="StmNoteCollection" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="StmNote" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:all>
                  <xs:element name="PK" minOccurs="0" type="xs:string" />
                  <xs:element name="NoteData" minOccurs="0" type="xs:base64Binary" />
                  <xs:element name="NoteText" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string" />
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="NoteType" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="3" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="NoteContext" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="3" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="IsCustomDescription" minOccurs="0" type="xs:boolean" />
                  <xs:element name="ForceRead" minOccurs="0" type="xs:boolean" />
                  <xs:element name="Description" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="RelatedCompany" minOccurs="0">
                    <xs:complexType>
                      <xs:all>
                        <!-- Candidate Key: Code -->
                        <xs:element name="Code" minOccurs="0">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:maxLength value="3" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                        <xs:element name="PK" minOccurs="0" type="xs:string" />
                      </xs:all>
                      <xs:attribute name="Action" type="Action" />
                      <xs:attribute name="TableName" type="xs:string" />
                    </xs:complexType>
                  </xs:element>
                </xs:all>
                <xs:attribute name="Action" type="Action" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TagRuleAcceptabilityBandLinkCollection" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TagRuleAcceptabilityBandLink" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:all>
                  <!-- Candidate Key: BMComponentAcceptabilityBand.PK + TagRule.PK -->
                  <xs:element name="PK" minOccurs="0" type="xs:string" />
                  <xs:element name="PrioritySequence" minOccurs="0" type="xs:int" />
                  <xs:element name="HighRiskLowerStatusMagnitude" minOccurs="0" type="xs:decimal" />
                  <xs:element name="CautionLowerStatusMagnitude" minOccurs="0" type="xs:decimal" />
                  <xs:element name="GoodLowerStatusMagnitude" minOccurs="0" type="xs:decimal" />
                  <xs:element name="ExcellentMagnitude" minOccurs="0" type="xs:decimal" />
                  <xs:element name="GoodUpperStatusMagnitude" minOccurs="0" type="xs:decimal" />
                  <xs:element name="CautionUpperStatusMagnitude" minOccurs="0" type="xs:decimal" />
                  <xs:element name="HighRiskUpperStatusMagnitude" minOccurs="0" type="xs:decimal" />
                  <xs:element name="BMComponentAcceptabilityBand" minOccurs="0">
                    <xs:complexType>
                      <xs:all>
                        <!-- Candidate Key: Name -->
                        <xs:element name="Name" minOccurs="0">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:maxLength value="80" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                        <xs:element name="PK" minOccurs="0" type="xs:string" />
                      </xs:all>
                      <xs:attribute name="Action" type="Action" />
                    </xs:complexType>
                  </xs:element>
                </xs:all>
                <xs:attribute name="Action" type="Action" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="StmModuleFilter" minOccurs="0">
        <xs:complexType>
          <xs:all>
            <xs:element name="PK" minOccurs="0" type="xs:string" />
            <xs:element name="ModuleID" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="200" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="FilterData" minOccurs="0" type="xs:base64Binary" />
            <xs:element name="RelatedEntityID" minOccurs="0" type="xs:string" />
            <xs:element name="ColumnLayoutData" minOccurs="0" type="xs:base64Binary" />
            <xs:element name="IsSystem" minOccurs="0" type="xs:boolean" />
            <xs:element name="IsPublished" minOccurs="0" type="xs:boolean" />
            <xs:element name="SaveColumnLayout" minOccurs="0" type="xs:boolean" />
            <xs:element name="FilterName" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="50" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="FilterType" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="3" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="GridColourLayoutID" minOccurs="0" type="xs:string" />
            <xs:element name="SaveGridColourLayout" minOccurs="0" type="xs:boolean" />
            <xs:element name="GlbCompany" minOccurs="0">
              <xs:complexType>
                <xs:all>
                  <!-- Candidate Key: Code -->
                  <xs:element name="Code" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="3" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="PK" minOccurs="0" type="xs:string" />
                </xs:all>
                <xs:attribute name="Action" type="Action" />
              </xs:complexType>
            </xs:element>
            <xs:element name="StmModuleFilterUserData" minOccurs="0">
              <xs:complexType>
                <xs:all>
                  <!-- Candidate Key: RelatedEntityID + StmModuleFilter.PK -->
                  <xs:element name="PK" minOccurs="0" type="xs:string" />
                  <xs:element name="RelatedEntityID" minOccurs="0" type="xs:string" />
                  <xs:element name="FilterDataValues" minOccurs="0" type="xs:base64Binary" />
                  <xs:element name="RelatedEntityTableCode" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="3" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                </xs:all>
                <xs:attribute name="Action" type="Action" />
              </xs:complexType>
            </xs:element>
          </xs:all>
          <xs:attribute name="Action" type="Action" />
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="Action" type="Action" />
  </xs:complexType>
</xs:schema>
