src/NativeCusStatement.xsd

<!-- (C) 2020 - FreightTrust and Clearing Corporation
   - SPDX-License-Identifier: MPL-2.0
   - SPDXVersion: SPDX-2.2
   - SPDX-FileCopyrightText
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla.org/MPL/2.0/. -->
<xs:schema
  targetNamespace="http://www.freighttrust.com/Schemas/Native/2020/09"
  version="2.0"
  elementFormDefault="qualified"
  xmlns="http://www.freighttrust.com/Schemas/Native/2020/09"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:include schemaLocation="Native.xsd" />
  <xs:element name="CusStatement" type="CusStatementData" />
  <xs:complexType name="CusStatementData">
    <xs:all>
      <xs:element name="CusStatementHeader" type="NativeCusStatement" />
    </xs:all>
    <xs:attribute name="version" type="xs:token" />
  </xs:complexType>
  <xs:complexType name="NativeCusStatement">
    <xs:all>
      <xs:element name="PK" minOccurs="0" type="xs:string" />
      <xs:element name="StatementNumber" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="25" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="PrintDate" minOccurs="0" type="emptiableDateTime" />
      <xs:element name="ProcessDate" minOccurs="0" type="emptiableDateTime" />
      <xs:element name="Status" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="3" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="EntryFilerCode" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="15" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ProcessPort" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="5" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ImporterCustomsID" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="15" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="PaymentType" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="3" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="BranchDesignation" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="3" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="DueDate" minOccurs="0" type="emptiableDateTime" />
      <xs:element
        name="PaymentAuthorizationDate"
        minOccurs="0"
        type="emptiableDateTime"
      />
      <xs:element name="PreparerDistrictPort" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="4" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="PaymentStatus" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="3" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="AccountNo" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="PaymentParty" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="3" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="StatementAmount" minOccurs="0" type="xs:decimal" />
      <xs:element name="CheckNo" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="IsMonthlyStatement" minOccurs="0" type="xs:boolean" />
      <xs:element name="RMNumber" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="4" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="StatementType" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="PaidAmount" minOccurs="0" type="xs:decimal" />
      <xs:element name="RefundAmount" minOccurs="0" type="xs:decimal" />
      <xs:element name="Importer" minOccurs="0">
        <xs:complexType>
          <xs:all>
            <!-- Candidate Key: Code -->
            <xs:element name="Code" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="12" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="PK" minOccurs="0" type="xs:string" />
          </xs:all>
          <xs:attribute name="Action" type="Action" />
          <xs:attribute name="TableName" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="GlbCompany" minOccurs="0">
        <xs:complexType>
          <xs:all>
            <!-- Candidate Key: Code -->
            <xs:element name="Code" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="3" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="PK" minOccurs="0" type="xs:string" />
          </xs:all>
          <xs:attribute name="Action" type="Action" />
        </xs:complexType>
      </xs:element>
      <xs:element name="DailyStatementHeaderCollection" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element
              name="DailyStatementHeader"
              minOccurs="0"
              maxOccurs="unbounded"
            >
              <xs:complexType>
                <xs:all>
                  <xs:element name="PK" minOccurs="0" type="xs:string" />
                  <xs:element name="StatementNumber" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="25" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element
                    name="PrintDate"
                    minOccurs="0"
                    type="emptiableDateTime"
                  />
                  <xs:element
                    name="ProcessDate"
                    minOccurs="0"
                    type="emptiableDateTime"
                  />
                  <xs:element name="Status" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="3" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="EntryFilerCode" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="15" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="ProcessPort" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="5" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="ImporterCustomsID" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="15" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="PaymentType" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="3" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="BranchDesignation" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="3" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element
                    name="DueDate"
                    minOccurs="0"
                    type="emptiableDateTime"
                  />
                  <xs:element
                    name="PaymentAuthorizationDate"
                    minOccurs="0"
                    type="emptiableDateTime"
                  />
                  <xs:element name="PreparerDistrictPort" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="4" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="PaymentStatus" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="3" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="AccountNo" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="20" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="PaymentParty" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="3" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element
                    name="StatementAmount"
                    minOccurs="0"
                    type="xs:decimal"
                  />
                  <xs:element name="CheckNo" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="35" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element
                    name="IsMonthlyStatement"
                    minOccurs="0"
                    type="xs:boolean"
                  />
                  <xs:element name="RMNumber" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="4" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="StatementType" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="1" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element
                    name="PaidAmount"
                    minOccurs="0"
                    type="xs:decimal"
                  />
                  <xs:element
                    name="RefundAmount"
                    minOccurs="0"
                    type="xs:decimal"
                  />
                  <xs:element name="Importer" minOccurs="0">
                    <xs:complexType>
                      <xs:all>
                        <!-- Candidate Key: Code -->
                        <xs:element name="Code" minOccurs="0">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:maxLength value="12" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                        <xs:element name="PK" minOccurs="0" type="xs:string" />
                      </xs:all>
                      <xs:attribute name="Action" type="Action" />
                      <xs:attribute name="TableName" type="xs:string" />
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="GlbCompany" minOccurs="0">
                    <xs:complexType>
                      <xs:all>
                        <!-- Candidate Key: Code -->
                        <xs:element name="Code" minOccurs="0">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:maxLength value="3" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                        <xs:element name="PK" minOccurs="0" type="xs:string" />
                      </xs:all>
                      <xs:attribute name="Action" type="Action" />
                    </xs:complexType>
                  </xs:element>
                  <xs:element
                    name="JobRequiredDocumentCollection"
                    minOccurs="0"
                  >
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element
                          name="JobRequiredDocument"
                          minOccurs="0"
                          maxOccurs="unbounded"
                        >
                          <xs:complexType>
                            <xs:all>
                              <xs:element
                                name="PK"
                                minOccurs="0"
                                type="xs:string"
                              />
                              <xs:element name="DocType" minOccurs="0">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:maxLength value="3" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:element>
                              <xs:element name="DocUsage" minOccurs="0">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:maxLength value="3" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:element>
                              <xs:element name="DocDescription" minOccurs="0">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:maxLength value="35" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:element>
                              <xs:element name="DocNumber" minOccurs="0">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:maxLength value="15" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:element>
                              <xs:element
                                name="DateReceived"
                                minOccurs="0"
                                type="emptiableDateTime"
                              />
                              <xs:element
                                name="RcvFromCustomsBroker"
                                minOccurs="0"
                                type="emptiableDateTime"
                              />
                              <xs:element
                                name="ReturnToShipper"
                                minOccurs="0"
                                type="emptiableDateTime"
                              />
                              <xs:element
                                name="SntToCustomsBroker"
                                minOccurs="0"
                                type="emptiableDateTime"
                              />
                              <xs:element name="DocPeriod" minOccurs="0">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:maxLength value="3" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:element>
                              <xs:element
                                name="ValidToDate"
                                minOccurs="0"
                                type="emptiableDateTime"
                              />
                              <xs:element
                                name="TemplateTransportMode"
                                minOccurs="0"
                              >
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:maxLength value="3" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:element>
                              <xs:element name="DocCategory" minOccurs="0">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:maxLength value="3" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:element>
                              <xs:element
                                name="OriginalDocRequired"
                                minOccurs="0"
                                type="xs:boolean"
                              />
                              <xs:element
                                name="CreditControlDoc"
                                minOccurs="0"
                                type="xs:boolean"
                              />
                              <xs:element name="DocumentNotes" minOccurs="0">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:maxLength value="200" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:element>
                              <xs:element name="DocumentOwner" minOccurs="0">
                                <xs:complexType>
                                  <xs:all>
                                    <!-- Candidate Key: Code -->
                                    <xs:element name="Code" minOccurs="0">
                                      <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                          <xs:maxLength value="12" />
                                        </xs:restriction>
                                      </xs:simpleType>
                                    </xs:element>
                                    <xs:element
                                      name="PK"
                                      minOccurs="0"
                                      type="xs:string"
                                    />
                                  </xs:all>
                                  <xs:attribute name="Action" type="Action" />
                                  <xs:attribute
                                    name="TableName"
                                    type="xs:string"
                                  />
                                </xs:complexType>
                              </xs:element>
                              <xs:element name="RelatedCountry" minOccurs="0">
                                <xs:complexType>
                                  <xs:all>
                                    <!-- Candidate Key: Code -->
                                    <xs:element name="Code" minOccurs="0">
                                      <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                          <xs:maxLength value="2" />
                                        </xs:restriction>
                                      </xs:simpleType>
                                    </xs:element>
                                    <xs:element
                                      name="PK"
                                      minOccurs="0"
                                      type="xs:string"
                                    />
                                  </xs:all>
                                  <xs:attribute name="Action" type="Action" />
                                  <xs:attribute
                                    name="TableName"
                                    type="xs:string"
                                  />
                                </xs:complexType>
                              </xs:element>
                            </xs:all>
                            <xs:attribute name="Action" type="Action" />
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="CusStatementLineCollection" minOccurs="0">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element
                          name="CusStatementLine"
                          minOccurs="0"
                          maxOccurs="unbounded"
                        >
                          <xs:complexType>
                            <xs:all>
                              <xs:element
                                name="PK"
                                minOccurs="0"
                                type="xs:string"
                              />
                              <xs:element name="EntryNum" minOccurs="0">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:maxLength value="35" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:element>
                              <xs:element name="EntryType" minOccurs="0">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:maxLength value="3" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:element>
                              <xs:element name="Status" minOccurs="0">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:maxLength value="3" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:element>
                              <xs:element name="EntryStatus" minOccurs="0">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:maxLength value="3" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:element>
                              <xs:element name="EntryProcessPort" minOccurs="0">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:maxLength value="5" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:element>
                              <xs:element name="DeletedByParty" minOccurs="0">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:maxLength value="3" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:element>
                              <xs:element
                                name="CustomsFeesTotal"
                                minOccurs="0"
                                type="xs:decimal"
                              />
                              <xs:element name="BrokerReference" minOccurs="0">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:maxLength value="35" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:element>
                              <xs:element name="EntryFilerCode" minOccurs="0">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:maxLength value="3" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:element>
                              <xs:element name="EIIndicator" minOccurs="0">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:maxLength value="3" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:element>
                              <xs:element name="Team" minOccurs="0">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:maxLength value="3" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:element>
                              <xs:element name="AssociatedEntry" minOccurs="0">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:maxLength value="35" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:element>
                              <xs:element name="CreditNote" minOccurs="0">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:maxLength value="15" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:element>
                              <xs:element
                                name="CreditNoteDate"
                                minOccurs="0"
                                type="emptiableDateTime"
                              />
                              <xs:element
                                name="DueDate"
                                minOccurs="0"
                                type="emptiableDateTime"
                              />
                              <xs:element
                                name="EntryDate"
                                minOccurs="0"
                                type="emptiableDateTime"
                              />
                              <xs:element
                                name="ImporterCustomsID"
                                minOccurs="0"
                              >
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:maxLength value="15" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:element>
                              <xs:element
                                name="ScheduledProcessDate"
                                minOccurs="0"
                                type="emptiableDateTime"
                              />
                              <xs:element
                                name="CusStatementLineChargeCollection"
                                minOccurs="0"
                              >
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element
                                      name="CusStatementLineCharge"
                                      minOccurs="0"
                                      maxOccurs="unbounded"
                                    >
                                      <xs:complexType>
                                        <xs:all>
                                          <xs:element
                                            name="PK"
                                            minOccurs="0"
                                            type="xs:string"
                                          />
                                          <xs:element
                                            name="ChargeType"
                                            minOccurs="0"
                                          >
                                            <xs:simpleType>
                                              <xs:restriction base="xs:string">
                                                <xs:maxLength value="3" />
                                              </xs:restriction>
                                            </xs:simpleType>
                                          </xs:element>
                                          <xs:element
                                            name="ChargeAmount"
                                            minOccurs="0"
                                            type="xs:decimal"
                                          />
                                          <xs:element
                                            name="PaymentParty"
                                            minOccurs="0"
                                          >
                                            <xs:simpleType>
                                              <xs:restriction base="xs:string">
                                                <xs:maxLength value="3" />
                                              </xs:restriction>
                                            </xs:simpleType>
                                          </xs:element>
                                        </xs:all>
                                        <xs:attribute
                                          name="Action"
                                          type="Action"
                                        />
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:all>
                            <xs:attribute name="Action" type="Action" />
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element
                    name="CusStatementLineGroupCollection"
                    minOccurs="0"
                  >
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element
                          name="CusStatementLineGroup"
                          minOccurs="0"
                          maxOccurs="unbounded"
                        >
                          <xs:complexType>
                            <xs:all>
                              <xs:element
                                name="PK"
                                minOccurs="0"
                                type="xs:string"
                              />
                              <xs:element
                                name="ImporterCustomsID"
                                minOccurs="0"
                              >
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:maxLength value="15" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:element>
                              <xs:element name="Importer" minOccurs="0">
                                <xs:complexType>
                                  <xs:all>
                                    <!-- Candidate Key: Code -->
                                    <xs:element name="Code" minOccurs="0">
                                      <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                          <xs:maxLength value="12" />
                                        </xs:restriction>
                                      </xs:simpleType>
                                    </xs:element>
                                    <xs:element
                                      name="PK"
                                      minOccurs="0"
                                      type="xs:string"
                                    />
                                  </xs:all>
                                  <xs:attribute name="Action" type="Action" />
                                  <xs:attribute
                                    name="TableName"
                                    type="xs:string"
                                  />
                                </xs:complexType>
                              </xs:element>
                              <xs:element
                                name="CusStatementLineGroupFinancialDetailCollection"
                                minOccurs="0"
                              >
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element
                                      name="CusStatementLineGroupFinancialDetail"
                                      minOccurs="0"
                                      maxOccurs="unbounded"
                                    >
                                      <xs:complexType>
                                        <xs:all>
                                          <xs:element
                                            name="PK"
                                            minOccurs="0"
                                            type="xs:string"
                                          />
                                          <xs:element name="Type" minOccurs="0">
                                            <xs:simpleType>
                                              <xs:restriction base="xs:string">
                                                <xs:maxLength value="3" />
                                              </xs:restriction>
                                            </xs:simpleType>
                                          </xs:element>
                                          <xs:element
                                            name="Amount"
                                            minOccurs="0"
                                            type="xs:decimal"
                                          />
                                        </xs:all>
                                        <xs:attribute
                                          name="Action"
                                          type="Action"
                                        />
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:all>
                            <xs:attribute name="Action" type="Action" />
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:all>
                <xs:attribute name="Action" type="Action" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="TableName" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="JobRequiredDocumentCollection" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element
              name="JobRequiredDocument"
              minOccurs="0"
              maxOccurs="unbounded"
            >
              <xs:complexType>
                <xs:all>
                  <xs:element name="PK" minOccurs="0" type="xs:string" />
                  <xs:element name="DocType" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="3" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="DocUsage" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="3" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="DocDescription" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="35" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="DocNumber" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="15" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element
                    name="DateReceived"
                    minOccurs="0"
                    type="emptiableDateTime"
                  />
                  <xs:element
                    name="RcvFromCustomsBroker"
                    minOccurs="0"
                    type="emptiableDateTime"
                  />
                  <xs:element
                    name="ReturnToShipper"
                    minOccurs="0"
                    type="emptiableDateTime"
                  />
                  <xs:element
                    name="SntToCustomsBroker"
                    minOccurs="0"
                    type="emptiableDateTime"
                  />
                  <xs:element name="DocPeriod" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="3" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element
                    name="ValidToDate"
                    minOccurs="0"
                    type="emptiableDateTime"
                  />
                  <xs:element name="TemplateTransportMode" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="3" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="DocCategory" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="3" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element
                    name="OriginalDocRequired"
                    minOccurs="0"
                    type="xs:boolean"
                  />
                  <xs:element
                    name="CreditControlDoc"
                    minOccurs="0"
                    type="xs:boolean"
                  />
                  <xs:element name="DocumentNotes" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="200" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="DocumentOwner" minOccurs="0">
                    <xs:complexType>
                      <xs:all>
                        <!-- Candidate Key: Code -->
                        <xs:element name="Code" minOccurs="0">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:maxLength value="12" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                        <xs:element name="PK" minOccurs="0" type="xs:string" />
                      </xs:all>
                      <xs:attribute name="Action" type="Action" />
                      <xs:attribute name="TableName" type="xs:string" />
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="RelatedCountry" minOccurs="0">
                    <xs:complexType>
                      <xs:all>
                        <!-- Candidate Key: Code -->
                        <xs:element name="Code" minOccurs="0">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:maxLength value="2" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                        <xs:element name="PK" minOccurs="0" type="xs:string" />
                      </xs:all>
                      <xs:attribute name="Action" type="Action" />
                      <xs:attribute name="TableName" type="xs:string" />
                    </xs:complexType>
                  </xs:element>
                </xs:all>
                <xs:attribute name="Action" type="Action" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CusStatementLineCollection" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element
              name="CusStatementLine"
              minOccurs="0"
              maxOccurs="unbounded"
            >
              <xs:complexType>
                <xs:all>
                  <xs:element name="PK" minOccurs="0" type="xs:string" />
                  <xs:element name="EntryNum" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="35" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="EntryType" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="3" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="Status" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="3" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="EntryStatus" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="3" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="EntryProcessPort" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="5" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="DeletedByParty" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="3" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element
                    name="CustomsFeesTotal"
                    minOccurs="0"
                    type="xs:decimal"
                  />
                  <xs:element name="BrokerReference" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="35" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="EntryFilerCode" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="3" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="EIIndicator" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="3" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="Team" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="3" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="AssociatedEntry" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="35" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="CreditNote" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="15" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element
                    name="CreditNoteDate"
                    minOccurs="0"
                    type="emptiableDateTime"
                  />
                  <xs:element
                    name="DueDate"
                    minOccurs="0"
                    type="emptiableDateTime"
                  />
                  <xs:element
                    name="EntryDate"
                    minOccurs="0"
                    type="emptiableDateTime"
                  />
                  <xs:element name="ImporterCustomsID" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="15" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element
                    name="ScheduledProcessDate"
                    minOccurs="0"
                    type="emptiableDateTime"
                  />
                  <xs:element
                    name="CusStatementLineChargeCollection"
                    minOccurs="0"
                  >
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element
                          name="CusStatementLineCharge"
                          minOccurs="0"
                          maxOccurs="unbounded"
                        >
                          <xs:complexType>
                            <xs:all>
                              <xs:element
                                name="PK"
                                minOccurs="0"
                                type="xs:string"
                              />
                              <xs:element name="ChargeType" minOccurs="0">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:maxLength value="3" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:element>
                              <xs:element
                                name="ChargeAmount"
                                minOccurs="0"
                                type="xs:decimal"
                              />
                              <xs:element name="PaymentParty" minOccurs="0">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:maxLength value="3" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:element>
                            </xs:all>
                            <xs:attribute name="Action" type="Action" />
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:all>
                <xs:attribute name="Action" type="Action" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CusStatementLineGroupCollection" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element
              name="CusStatementLineGroup"
              minOccurs="0"
              maxOccurs="unbounded"
            >
              <xs:complexType>
                <xs:all>
                  <xs:element name="PK" minOccurs="0" type="xs:string" />
                  <xs:element name="ImporterCustomsID" minOccurs="0">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="15" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="Importer" minOccurs="0">
                    <xs:complexType>
                      <xs:all>
                        <!-- Candidate Key: Code -->
                        <xs:element name="Code" minOccurs="0">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:maxLength value="12" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                        <xs:element name="PK" minOccurs="0" type="xs:string" />
                      </xs:all>
                      <xs:attribute name="Action" type="Action" />
                      <xs:attribute name="TableName" type="xs:string" />
                    </xs:complexType>
                  </xs:element>
                  <xs:element
                    name="CusStatementLineGroupFinancialDetailCollection"
                    minOccurs="0"
                  >
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element
                          name="CusStatementLineGroupFinancialDetail"
                          minOccurs="0"
                          maxOccurs="unbounded"
                        >
                          <xs:complexType>
                            <xs:all>
                              <xs:element
                                name="PK"
                                minOccurs="0"
                                type="xs:string"
                              />
                              <xs:element name="Type" minOccurs="0">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:maxLength value="3" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:element>
                              <xs:element
                                name="Amount"
                                minOccurs="0"
                                type="xs:decimal"
                              />
                            </xs:all>
                            <xs:attribute name="Action" type="Action" />
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:all>
                <xs:attribute name="Action" type="Action" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="Action" type="Action" />
  </xs:complexType>
</xs:schema>
